@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Berkshire Swash');
*{
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  
}

body {
  font-family: 'Roboto', sans-serif;
  
  }

input.form-control {
  position: center;
  width: 227px;
  height: 33px;
  left: 67px;
  background: #D9D9D9;
  border-radius: 10px;
}

.error {
  position: center;
  color: rgb(255, 255, 255);
  font-size: .6rem;
}
img {
  position: relative;

}

.Container  {
  width: 360px;
  height: 800px;
  background: linear-gradient(90deg, #42275A 0%, #734B6D 100%);
}

.boton {
width: 145px;
height: 31px;
background-color: rgba(181, 159, 215, 0.54);
border-radius: 10px;
border: none;
font-family: 'Berkshire Swash';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
}

.linea1{
  position: absolute;
  width: 97px;
  height: 0px;
  left: 67px;
  top: 590px;
  
  border: 1px solid #FFFFFF;
}
.lineaa1{
  position: absolute;
width: 97px;
height: 0px;
left: 197px;
top: 590px;

border: 1px solid #FFFFFF;
}

.linea2 {
  position: absolute;
width: 53px;
height: 0px;
left: 155px;
top: 690px;

border: 1px solid #D9D9D9;
transform: rotate(90deg);
}

.google{
  position: absolute;
  width: 45px;
  height: 44px;
  left: 67px;
  top: 609px;
}

.facebook{
  position: absolute;
  width: 45px;
  height: 44px;
  left: 158px;
  top: 609px;
  
}

.tw {
  position: absolute;
  width: 55px;
  height: 54px;
  left: 239px;
  top: 604px;
}

.contraseñaolvidada{
  position: absolute;
  width: 168px;
  height: 44px;
  left: 28px;
  top: 685px;
  
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  
  color: #FFFFFF;}

.registrarse {
  position: absolute;
width: 168px;
height: 44px;
left: 153px;
top: 692px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: #FFFFFF;
}

.copyright {
  
position: absolute;
width: 283px;
height: 8px;
left: 38px;
top: 746px;

font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 15px;
text-align: center;

color: #FFFFFF;
}