@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
text-align: center;
position: center;
box-sizing: border-box;
background-color: #734B6D;
overflow: auto;


}
body {
  font-family: 'Roboto', sans-serif;
  
  }

label {
  font-size: .7rem;
}

input.form-control, input.form-control:focus {
  background: #D9D9D9;
}

.error {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: .6rem;
}


img, svg{
  vertical-align: center;
 

}