@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Berkshire Swash');
*{
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  position: relative;
  
}

body {
  font-family: 'Roboto', sans-serif;
  
  }

input.form-control {
  position: center;
  width: 227px;
  height: 33px;
  left: 67px;
  background: #D9D9D9;
  border-radius: 10px;
}

.error {
  position: center;
  color: rgb(255, 255, 255);
  font-size: .6rem;
}
img {
  position: relative;

}

.Container  {
  width: 360px;
  height: 800px;
  background: linear-gradient(90deg, #42275A 0%, #734B6D 100%);
}

.boton {
width: 145px;
height: 31px;
background-color: rgba(181, 159, 215, 0.54);
border-radius: 10px;
border: none;
font-family: 'Berkshire Swash';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
color: #FFFFFF;
}